.models-wrapper {
  text-align: center;
  padding: 0rem 2rem 3.5rem;
  background-color: rgba(15, 15, 15, 0.75);
  transition: 0.25s 0s all linear;
}
.models-wrapper h1 {
  margin: 0 0 3rem;
}
.models-wrapper a {
  text-decoration: none;
  height: 22.5%;
}

.automatic-routes-button {
  text-decoration: none;
  height: 22.5%;
}
.automatic-routes-button i {
  margin-right: 1rem;
  font-size: 2.5rem;
}
.automatic-routes-button a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
#automatic-routes-button {
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;
  transition: none;
}
#automatic-routes-button:hover {
  text-shadow: 0px 0px 10px red;
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.5);
}
#automatic-routes-button::before {
  content: none;
}
#automatic-routes-button:focus {
  /* box-shadow: none; */
  border-color: transparent;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
}
.dropdown-item {
  text-align: right;
  background-color: transparent;
  font-size: 1.25rem;
}
.dropdown-item:hover {
  box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.35);
  background-color: rgba(255, 0, 0, 0.35);
}

.models-button {
  box-sizing: border-box;
  border: 1px solid white;
  width: 100%;
  min-height: 100%;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: rgba(15, 15, 15, 0.75);
}
.models-button:hover {
  text-shadow: 0px 0px 10px red;
  box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.5);
}
.models-button i {
  margin-right: 1rem;
  font-size: 2.5rem;
}

#models-plant-map {
  background-color: rgba(15, 15, 15, 0.75);
  box-shadow: 0px 0px 2rem 2rem rgba(15, 15, 15, 0.75);
  margin: 0 5%;
  border-radius: 30%;
}

.models-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  font-size: 1.65rem;
  /* background-color: rgba(15, 15, 15, 0.75); */
  /* box-shadow: 0px 0px 3px 3px rgba(15, 15, 15, 0.75); */
  /* border: 1px solid white; */
  position: relative;
}
.models-checkboxes span {
  padding: 8px 1rem;
  cursor: pointer;
  background-color: rgba(15, 15, 15, 0.75);
  border: 1px solid white;
}

.button-tooltip > .tooltip-inner {
  font-size: 1.2rem;
  padding: 1rem;
  min-width: 300px;
  font-family: Merriweather;
}
