.navbar-wrapper {
  display: flex;
  /* border-bottom: 1px solid white; */
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(15, 15, 15);
}

.navbar-link {
  margin: 0 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.navbar-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 0px 8px red;
}

.language-button-wrapper {
  margin-right: 1rem;
}
.language-button {
  background: transparent;
  border: none;
}
.language-button:nth-child(2) {
  margin: 0rem 0.3rem;
}
