@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/merriweather/Merriweather-Regular.ttf")
      format("embedded-opentype"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf") format("woff2"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf") format("woff"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf")
      format("truetype"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Merriweather, Roboto, "Trebuchet MS", Arial;
  /* color: white; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(15, 15, 15); */
  /* overflow: hidden scroll; */
  overflow-x: hidden;

  /*! Important! ha calgut comentar el següent a potree_libs/potree/potree.css: */
  /*! body{ position: absolute, overflow: hidden } */
  
  /*! Important! ha calgut canviar el següent a potree_libs/potree/potree.js: (line 702 42) */
  /*! this.dom.css("transform", `rotateZ(calc(${-azimuth}rad + 130deg) */
}
