@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/merriweather/Merriweather-Regular.ttf")
      format("embedded-opentype"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf") format("woff2"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf") format("woff"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf")
      format("truetype"),
    url("./assets/fonts/merriweather/Merriweather-Regular.ttf") format("svg");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Merriweather, Roboto, "Trebuchet MS", Arial;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15, 15, 15);
  overflow: hidden scroll;
}
